{% extends "layout.html" %}
{% block content %}
    <h1>About the project</h1>
    <article class="container">
      <p>
        This app's purpose is to create the ideal calculator for you.
        We designed this app so that anyone, even with little experience, could
        start impacting the world more quickly.
      </p>

      <p>
        We are two Computer Science students at the University of North Carolina at Chapel Hill.
        Because of our experience in STEM classes, we wanted to create an accessible webapp that
        is easy for students to use.
      </p>
      
      <p>
        We hope to expand this project in the future and make it more
        useful for everyone.
      </p>
    </article>
{% endblock content %}
