{% extends "layout.html" %}
{% block content %}
    <h1>Future Project Ideas</h1>
    <article class="container">
      <p>
        Lucas and I have been learning a some Data Science recently and we are currently
        in the process of expanding our skills in this area. We hope to be able
        to apply our skills in this area soon by adding secret custom features.
      </p>
      <p>
        We also hope to create more projects for Math and Science students.
      </p>
      <p>
        We hope to expand this project in the future and make it more
        useful for everyone.
      </p>
    </article>
{% endblock content %}
