{% extends "layout.html" %}
{% block content %}
    <article class="container">
        <!--<p>
                The instructions for the calculator are to come. This is to 
                test the impact of long sentences / short sentences on the title.
                The title gets centered only with long sentences underneath it.
        </p>-->
        <form>
            <label for="input">Enter the numbers</label>
            <input type="number" id="input" placeholder="Enter the numbers">
        </form>
    </article>
{% endblock content %}
